rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Blindaje total de base de datos: Todas las escrituras y lecturas
    // deben procesarse exclusivamente a través de Cloud Functions con Admin SDK.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}