html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

/* Estilos para el modo claro */
body.light-mode {
    /* No specific background changes for light mode here, handled by Layout */
}