html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    position: relative;
    overflow-x: hidden;
}

/* Typography Refinement */
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.2em !important;
    text-transform: uppercase;
}

/* Estilos para el modo claro */
body.light-mode {
    /* No specific background changes for light mode here, handled by Layout */
}